<!DOCTYPE html>
<html lang="ja">
    <head>
    <link rel='stylesheet' href='profile.css'>
    </head>
    <body>
        {% extends "layout.html" %}
        {% block content%}
        <h1>編集する</h1>
        <form action='/{{ book.id }}/update' method='POST'>
            <input type="text" name="name" value="{{ book[1] }}">
            <select name='kind'>
                {% for value in ['小説', 'ビジネス', '自己啓発'] %}
                    {% if book[2] == value %}
                        <option value="{{ value }}" selected>{{ value }}</option>
                    {% else %}
                        <option value="{{ value }}">{{ value }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <input type='submit'>
        </form>
        {% endblock %}
    </body>
</html>