<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Sample</title>
  </head>
  <body>
    <div id="stalker" style="width: 0; transition: transform 0.1s; color: gold">
      ●
    </div>
    <h1 id="title" onclick="console.log('this is title')">タイトル</h1>
    <button id="to_small" style="font-size: 20px">小</button>
    <button id="to_middle" style="font-size: 30px">中</button>
    <button id="to_large" style="font-size: 40px">大</button>
    <p id="introduction">これは導入です</p>
    <div>
      <canvas id="myChart"></canvas>
    </div>
    <p class="red">ここは赤字です</p>
    <p class="red">ここは赤字ですが削除したいです</p>
    <p id="display_alert">クリックするとアラート</p>
    <p id="display_confirm">クリックすると確認</p>
    <p id="display_fizz_buzz">クリックするとfizzbuzz</p>
    <input type="text" value="initial" id="js-fizzbuzz_input" />
    <button id="to_bottom">クリックしてスクロール</button>
    <div id="bottom" style="margin-top: 2000px">bottom</div>
    <button id="to_top">クリックしてスクロール</button>
    <script>
      console.log("hello");
    </script>
    <!-- <script src="sample.js"></script> -->
    <!-- <script src="basicSyntax.js"></script> -->
    <!-- <script src="dataType.js"></script> -->
    <!-- <script src="classAndFunction.js"></script> -->
    <!-- <script src="getNode.js"></script> -->
    <!-- <script src="controlNode.js"></script> -->
    <!-- <script src="listener.js"></script> -->
    <script src="fizzbuzz.js"></script>
    <script src="popup.js"></script>
    <script src="experience.js"></script>
    <script src="graph.js"></script>
  </body>
</html>