<!DOCTYPE html>
<html lang="ja">
<head>
</head>
<body>
    {% block content %}
    <form action='/{{ book[0] }}/update' method='POST'>
        <input type='text' name = 'name' value =" {{ book[1] }}">
        <select name = "kind">
            {% for value in ['小説', 'ビジネス', '自己啓発']%}
                {% if book[2] == value %}
                    <option value='{{ value }}' selected>{{ value }}</option>
                {% else %}
                    <option value='{{ value }}'>{{ value }}</option>
                {% endif %}
            {% endfor %}
            <input type ='submit'>
        </select>   
    </form>
    {% endblock %}
</body>
</html>