<!DOCTYPE html>
<html lang="ja">

    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
    </head>

    <body>
        <p>本の名前を入力してください</p>
        <form action='/'>
            <input type='text' name='name'>
            <select name ='kind'>
                <option value='小説'>小説</option>
                <option value='ビジネス'>ビジネス</option>
                <option value='自己啓発'>自己啓発</option>
            </select>
            <input type='submit'>
        </form>
        <h1>{{ book }}</h1>
    </body>

</html>