<!DOCTYPE html>
<html lang="ja">

    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384- ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous">
    </head>

    <body>
        {% extends "layout.html" %}
        {% block content%}
        <p>本の名前を入力してください</p>
        <form action='/' class="form-inline">
            <input type='text' name='name' placeholder='書籍名' class='form-control' m-1>
            <select name='kind' class='form-control' m-1>
                <option value=''>種類を選択</option>
                <option value='小説'>小説</option>
                <option value='ビジネス'>ビジネス</option>
                <option value='自己啓発'>自己啓発</option>
            </select>
            <input class="btn btn-primary" type='submit'>
        </form>
        <a href='/new' class="btn btn-primary">書籍の登録</a>
        <h3>検索結果</h3>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>名前</th>
                    <th>種類</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                <tr>
                    <td>{{ book[0] }}</td>
                    <td>{{ book[1] }}</td>
                    <td>{{ book[2] }}</td>
                    <td><a href="/{{ book[0] }}/edit" class="btn btn-primary">更新</a></td>
                    <td>
                        <form action='/{{ book[0] }}/delete' method='POST'>
                            <input type='submit' class='btn btn-danger' value='削除'>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endblock %}
    </body>

</html>